---
permalink: /robots.txt
eleventyExcludeFromCollections: true
---
# Blue River Gutters - robots.txt
# https://bluerivergutters.com

User-agent: *
Allow: /

# Sitemap location
Sitemap: https://bluerivergutters.com/sitemap.xml

# Disallow admin/system paths (none currently, but placeholder)
# Disallow: /admin/
