---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  
  {# Main Pages #}
  <url>
    <loc>https://bluerivergutters.com/</loc>
    <lastmod>2026-01-30</lastmod>
    <changefreq>weekly</changefreq>
    <priority>1.0</priority>
  </url>
  <url>
    <loc>https://bluerivergutters.com/services/</loc>
    <lastmod>2026-01-30</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.9</priority>
  </url>
  <url>
    <loc>https://bluerivergutters.com/locations/</loc>
    <lastmod>2026-01-30</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.9</priority>
  </url>
  <url>
    <loc>https://bluerivergutters.com/blog/</loc>
    <lastmod>2026-01-30</lastmod>
    <changefreq>weekly</changefreq>
    <priority>0.8</priority>
  </url>
  <url>
    <loc>https://bluerivergutters.com/articles/</loc>
    <lastmod>2026-01-30</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.7</priority>
  </url>
  <url>
    <loc>https://bluerivergutters.com/sitemap/</loc>
    <lastmod>2026-01-30</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.3</priority>
  </url>
  
  {# Tier 1 City Landing Pages #}
  {% for city in nav.locations.tier1 %}
  <url>
    <loc>https://bluerivergutters.com/locations/gutters-{{ city.slug }}-al/</loc>
    <lastmod>2026-01-30</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.9</priority>
  </url>
  {% endfor %}
  
  {# Tier 2 City Landing Pages #}
  {% for city in nav.locations.tier2 %}
  <url>
    <loc>https://bluerivergutters.com/locations/gutters-{{ city.slug }}-al/</loc>
    <lastmod>2026-01-30</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
  </url>
  {% endfor %}
  
  {# Tier 3 City Landing Pages #}
  {% for city in nav.locations.tier3 %}
  <url>
    <loc>https://bluerivergutters.com/locations/gutters-{{ city.slug }}-al/</loc>
    <lastmod>2026-01-30</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.7</priority>
  </url>
  {% endfor %}
  
  {# Tier 1 Service + City Pages #}
  {% for city in nav.locations.tier1 %}
  {% for service in nav.services %}
  <url>
    <loc>https://bluerivergutters.com/services/{{ city.slug }}/{{ service.slug }}/</loc>
    <lastmod>2026-01-30</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
  </url>
  {% endfor %}
  {% endfor %}
  
  {# Tier 2 Service + City Pages #}
  {% for city in nav.locations.tier2 %}
  {% for service in nav.services %}
  <url>
    <loc>https://bluerivergutters.com/services/{{ city.slug }}/{{ service.slug }}/</loc>
    <lastmod>2026-01-30</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.7</priority>
  </url>
  {% endfor %}
  {% endfor %}
  
  {# Tier 3 Service + City Pages #}
  {% for city in nav.locations.tier3 %}
  {% for service in nav.services %}
  <url>
    <loc>https://bluerivergutters.com/services/{{ city.slug }}/{{ service.slug }}/</loc>
    <lastmod>2026-01-30</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.6</priority>
  </url>
  {% endfor %}
  {% endfor %}
  
  {# Blog Posts #}
  {%- for post in collections.blog -%}
  <url>
    <loc>https://bluerivergutters.com{{ post.url }}</loc>
    <lastmod>{{ post.data.publish_date | default('2026-01-30') }}</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.7</priority>
  </url>
  {%- endfor -%}
  
  {# Local Guide Articles #}
  <url>
    <loc>https://bluerivergutters.com/article-huntsville-al/</loc>
    <lastmod>2026-01-30</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.7</priority>
  </url>
  <url>
    <loc>https://bluerivergutters.com/article-madison-al/</loc>
    <lastmod>2026-01-30</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.7</priority>
  </url>
  <url>
    <loc>https://bluerivergutters.com/article-decatur-al/</loc>
    <lastmod>2026-01-30</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.7</priority>
  </url>
  <url>
    <loc>https://bluerivergutters.com/article-athens-al/</loc>
    <lastmod>2026-01-30</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.7</priority>
  </url>
  <url>
    <loc>https://bluerivergutters.com/article-hartselle-al/</loc>
    <lastmod>2026-01-30</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.7</priority>
  </url>
  
</urlset>
