---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  {% for page in collections.all %}
    {% if page.url and page.data.sitemap != false and page.url != "/thank-you/" and page.url != "/sitemap/" %}
      <url>
        <loc>https://bluerivergutters.com{{ page.url }}</loc>
        <lastmod>{{ page.date | isoDate }}</lastmod>
        <changefreq>monthly</changefreq>
        <priority>0.7</priority>
      </url>
    {% endif %}
  {% endfor %}
</urlset>
